*.pyc
*.log
*.out
*.err
*.dum
*.kate-swp
*.swp

*.crt
*.key

*,cover
.coverage
coverage.xml
htmlcov

.directory
nohup.out
.cached_solr_download

.project
.pydevproject
.settings/
.ipynb_checkpoints
tmp/

venv/**
ls
src/media

*~
ads/**
!ads/pdf/pdf
!puphpet/**
.vagrant/
puphpet/puppet/modules/
.pip_download_cache/
.cached_solr_download/
.idea/
.ipython/profile_default/history.sqlite
.ipython/profile_nbserver/history.sqlite
.ipython/profile_nbserver/security
notebook/.ipynb_checkpoints/
start_me_for_search/logs/
.elasticbeanstalk/app_versions

docker_home
docker-compose.*.yml

!*.py
!*.csv
!*.ods
!*.js
